<main class='dashboard-main-view d-flex flex-column'>
  <div class='d-flex flex-row'>
    \{{> navbar context}}
  </div>
  <div class='d-flex flex-row flex-grow-1'>
    \{{> sidebar context }}
    <div class='flex-grow-1 bg-body-secondary'></div>
  </div>
</main>