<main class='dashboard-main-view d-flex flex-column'>
  <div class='d-flex flex-row'>
    <nav class='navbar navbar-expand-md bg-dark-subtle flex-grow-1'>
      <div class='container-fluid'>
        <a class='navbar-brand' href='#'>Dashboard</a>
        <button
          class='navbar-toggler'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#navbarSupportedContent'
          aria-controls='navbarSupportedContent'
          aria-expanded='false'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
          <ul class='navbar-nav me-auto mb-2 mb-lg-0 d-lg-none d-md-none'>
            <li class='nav-item'>
              <a href='#' class='nav-link'><i
                  class='bi bi-speedometer pe-none me-2'
                ></i>Home</a>
            </li>
            <li class='nav-item'>
              <a href='#' class='nav-link'><i
                  class='bi bi-gear-wide-connected pe-none me-2'
                ></i>Config</a>
            </li>
            <li class='nav-item'>
              <a href='#' class='nav-link'><i
                  class='bi bi-motherboard pe-none me-2'
                ></i>Devices</a>
            </li>
            <li class='nav-item'>
              <a href='#' class='nav-link'><i
                  class='bi bi-person-gear pe-none me-2'
                ></i>Admin</a>
            </li>
          </ul>
        </div>

        <div class='btn-group dropstart d-none d-md-block'>
          <button
            class='btn btn-secondary dropdown-toggle'
            type='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            <i class='bi bi-person-circle'></i>
          </button>
          <ul class='dropdown-menu'>
            <li><a class='dropdown-item' href='#'>Action</a></li>
            <li><a class='dropdown-item' href='#'>Another action</a></li>
            <li><a class='dropdown-item' href='#'>Something else here</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class='d-flex flex-row flex-grow-1'>
    <div
      class='d-none d-md-block d-flex flex-column flex-shrink-0 p-3 text-bg-dark'
    >
      <ul class='nav nav-pills flex-column mb-auto'>
        <li class='nav-item'>
          <a href='#' class='nav-link text-white' aria-current='page'>
            <i class='bi bi-speedometer pe-none me-2'></i>
            Home
          </a>
        </li>
        <li>
          <a href='#' class='nav-link text-white'>
            <i class='bi bi-gear-wide-connected pe-none me-2'></i>
            Config
          </a>
        </li>
        <li>
          <a href='#' class='nav-link text-white'>
            <i class='bi bi-motherboard pe-none me-2'></i>
            Devices
          </a>
        </li>
        <li>
          <a href='#' class='nav-link text-white'>
            <i class='bi bi-person-gear pe-none me-2'></i>
            Admin
          </a>
        </li>
      </ul>
      <hr />
      <div class='btn-group dropup ps-4 pe-4'>
        <button
          class='btn btn-outline-light dropdown-toggle btn-sm'
          type='button'
          data-bs-toggle='dropdown'
          aria-expanded='false'
        >
          es
        </button>
        <ul class='dropdown-menu'>
          <li><a class='dropdown-item' href='#'>Español (es)</a></li>
          <li><a class='dropdown-item' href='#'>English (en)</a></li>
        </ul>
      </div>
    </div>
    <div class='flex-grow-1 bg-body-secondary'></div>
  </div>
</main>