<nav class='navbar navbar-expand-md bg-dark-subtle flex-grow-1'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='#'>Dashboard</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0 d-lg-none d-md-none'>
        <li class='nav-item'>
          <a href='#' class='nav-link'><i
              class='bi bi-speedometer pe-none me-2'
            ></i>Home</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'><i
              class='bi bi-gear-wide-connected pe-none me-2'
            ></i>Config</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'><i
              class='bi bi-motherboard pe-none me-2'
            ></i>Devices</a>
        </li>
        <li class='nav-item'>
          <a href='#' class='nav-link'><i
              class='bi bi-person-gear pe-none me-2'
            ></i>Admin</a>
        </li>
        <li><hr /></li>
        <li class='nav-item'>
          <a href='#' class='nav-link'><i
              class='bi bi-person-circle pe-none me-2'
            ></i>Yosef Maldonado</a>
        </li>
        <li class='nav-item'>
          <a
            class='nav-link dropdown-toggle'
            href='#'
            role='button'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            es
          </a>
          <ul class='dropdown-menu'>
            <li><a class='dropdown-item' href='#'>Español (es)</a></li>
            <li><a class='dropdown-item' href='#'>English (en)</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class='btn-group dropstart d-none d-md-block'>
      <button
        class='btn btn-secondary dropdown-toggle'
        type='button'
        data-bs-toggle='dropdown'
        aria-expanded='false'
      >
        <i class='bi bi-person-circle'></i>
        Yosef Maldonado
      </button>
      <ul class='dropdown-menu'>
        <li><a class='dropdown-item' href='#'>Action</a></li>
        <li><a class='dropdown-item' href='#'>Another action</a></li>
        <li><a class='dropdown-item' href='#'>Something else here</a></li>
      </ul>
    </div>
  </div>
</nav>