@use 'sass:map';

$position-values: (
  1: 1%,
  0: 0,
  50: 50%,
  100: 100%,
);

@import '~bootstrap/scss/bootstrap';

.login-main-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 90%;
  @media (min-width: 768px) {
    min-width: 450px;
    max-width: 450px;
  }
}

.callout-danger {
  --bd-callout-color: var(--bs-danger-text-emphasis);
  --bd-callout-bg: var(--bs-danger-bg-subtle);
  --bd-callout-border: var(--bs-danger-border-subtle);
}

.callout {
  padding: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
}
